.App {
    /* 颜色 */
    background-color: #282c34;
    min-height: 100vh;
    /* 居中 */
    display: flex;
    align-items: center;
    flex-direction: column;
}

.title {
    /* 字体样式 */
    letter-spacing: 0.2rem;
    font-size: 2.5rem;
    background-image: -webkit-linear-gradient(left, #147B96, #E6D205 25%, #147B96 50%, #E6D205 75%, #147B96);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    -webkit-background-size: 200% 100%;
}

.week {

    width: 960px;
    color: pink;
    font-weight: 800;
    font-size: 1.2rem;
    text-align: center;
}

/* .table {
    width: 75%;
    margin-top: 8px;
} */

.rateBox {
    padding: 0 !important;
}

.ltn {
    font-size: 1.2rem;
}

.ltn-wrapper {
    margin: 0 16px;
}

.ltn-box {
    letter-spacing: 0.2rem;
    font-size: 2.5rem;
    font-weight: 800;
    background-image: -webkit-linear-gradient(left, #147B96, #E6D205 25%, #147B96 50%, #E6D205 75%, #147B96);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    -webkit-background-size: 200% 100%;
    margin: 0 4px;
}

.ltn-list {
    padding: 8px;
    border-radius: 16px;
    font-size: 600;
}

.ltn-list:nth-of-type(5n + 1) {
    background-image: linear-gradient(225deg, #b1f4cf 0%, #57c6e1 42%, #fbc2eb 100%);
    color: #462f7b;
}

.ltn-list:nth-of-type(5n + 2) {
    background-image: linear-gradient(225deg, #57c6e1 0%, #fbc2eb 42%, #6BBBFF 100%);
    color: #0c3673;
}

.ltn-list:nth-of-type(5n + 3) {
    background-image: linear-gradient(225deg, #fbc2eb 0%, #6BBBFF 42%, #9890e3 100%);
    color: #462f7b;
}

.ltn-list:nth-of-type(5n + 4) {
    background-image: linear-gradient(225deg, #6BBBFF 0%, #9890e3 42%, #b1f4cf 100%);
    color: #0c3673;
}

.ltn-list:nth-of-type(5n + 5) {
    background-image: linear-gradient(225deg, #9890e3 0%, #b1f4cf 42%, #57c6e1 100%);
    color: #462f7b;
}

.ltn-avatar {
    background-color: #fde3cf;
    color: #f56a00;
    flex: none;
    margin-right: 2px;
}

.ltn-item {
    display: flex;
    align-items: center;
}

.ltn-item:hover {
    background-color: #fde3cf;
    border-radius: 8px;
}

.ltn-title {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    margin: 0;
    width: 80%;
}

.ltn-grade-box {
    width: 4rem;
}

.ltn-grade {
    border-radius: 20%;
    width: .1rem;
    height: 1.2rem;
    border: 0px;
}

.ltn-grade-up {
    background-image: linear-gradient(120deg, #d9fc87 0%, #96e6a1 100%);
    color: rgb(2, 56, 29, .8);
}

.ltn-grade-down {
    background-image: linear-gradient(120deg, #fbc2eb 0%, #da74d3 100%);
    color: #510c4c;
}

.ltn-time {
    color: #510c4c;
}